@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

button,
input {
  padding: 8px;
  font-size: 16px;
}

#add-todo {
  display: flex;
  justify-content: center;
}

#add-todo > input {
  margin-right: 8px;
}